GITHUB_USERNAME=zFederAddons
GITHUB_EMAIL=your-email@example.com
GITHUB_PAGES_REPOSITORY=zFederAddons.github.io
GITHUB_PAGES_URL=https://zfederaddons.github.io

BUYMEACOFFEE_NAME=zFeder
BUYMEACOFFEE_EMAIL=your-email@example.com
BUYMEACOFFEE_PAGE_URL=

# Do not store passwords, 2FA codes, recovery codes, or access tokens in this file.

