GITHUB_USERNAME=z-Feder
GITHUB_EMAIL=your-email@example.com
GITHUB_PAGES_REPOSITORY=z-Feder.github.io
GITHUB_PAGES_URL=https://z-feder.github.io

BUYMEACOFFEE_NAME=zFeder
BUYMEACOFFEE_EMAIL=your-email@example.com
BUYMEACOFFEE_PAGE_URL=https://www.buymeacoffee.com/zFeder

# Do not store passwords, 2FA codes, recovery codes, or access tokens in this file.

